@media (min-width: 1025px) {

    * {
        padding: 0;
        margin: 0;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f6f6f9;
        overflow-x: hidden;
    }

    .Main {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        height: 100vh;
    }

    /*-------------------------------LeftMain-------------------------------*/
    .LeftMain {
        width: 17%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: auto;

    }

    .LeftMainCont {
        background-color: white;
        width: 70%;
        height: 90%;
        border-radius: 30px;
        padding: 2rem;
        border: 1px solid#eff3f4;
    }

    .LeftMainContHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;
    }

    .LeftMainContHeader span {
        font-family: 'Segoe UI';
        font-size: 2.7rem;
        font-weight: 800;
        text-align: center;
        color: #4959A6;
    }

    .LeftMainContHeader img {
        width: 3rem;
        height: 3rem;
        margin-left: -6%;
    }

    .LMCCenterCont {
        margin-top: 30%;
    }

    .LMCCenterCont ul {
        list-style: none;
    }

    .LMCCenterCont ul li {
        color: #909090;
        padding: 1.1rem 1.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .LMCCenterCont ul li img {
        width: 1rem;
        height: 1rem;
        object-fit: cover;
        margin-right: 0.9rem;
    }

    .LMCCenterCont ul li:hover {
        color: white !important;
        cursor: pointer;
        background-color: #4959A6;
        border-radius: 100px;

    }

    .activeNav {
        background-color: #4959A6;
        border-radius: 100px;
        border-left: 7px solid #f9ed35;
        color: white;
    }

    #DashboardArea {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column;
    }

    #ProfileArea {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column;
    }

    #ClassmatesArea {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column;
    }

    #GradesArea {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column;
    }

    #ScheduleArea {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column;
    }

    #PaymentsArea {
        display: none;
        width: 100%;
        height: 100%;
        position: relative;
        flex-direction: column;
        overflow: hidden;
    }

    /*-------------------------------CenterMain-------------------------------*/
    .CenterMain {
        width: 68%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: -0.7%;
    }

    .CenterMainCont {
        background-color: white;
        width: 93%;
        height: 90%;
        border-radius: 30px;
        padding: 2rem;
        border: 1px solid#eff3f4;
    }

    .CenterMainHeader {
        height: 6%;
        border-bottom: 1px solid #e3e3e3;
    }


    .SearchDiv {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .SearchDiv>img {
        position: absolute;
        display: flex;
        align-items: center;
        top: 10px;
        left: 15px;
    }

    .SearchDiv>input {
        padding-left: 40px;
        background-color: #f1f1f1;
        border-radius: 20px;
        width: 42%;
        height: 2.4rem;
        border: none;
    }

    .NotifDivRight {
        background-color: #f1f1f1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;
        position: relative;
        cursor: pointer;
    }

    #notification-count {
        position: absolute;
        top: -3px;
        right: 0;
        background-color: #4959A6;
        color: #ffffff !important;
        border-radius: 50%;
        font-size: 0.7rem;
        font-weight: bold;
        width: 0.2rem;
        height: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.4rem;
    }

    .visible {
        display: block !important;
    }

    .NotifContainer {
        width: 69%;
        height: 30%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Notifications {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .Notifications::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .Notifications::-webkit-scrollbar-thumb {
        background-color: #c8cce7;
        border-radius: 20px;
    }

    .NotifCont {
        display: flex;
        width: 100%;
        margin-top: 4%;
        padding: 0.4rem;
        overflow: auto;
        align-items: center;
        text-align: left;
        border-bottom: 1px solid #dfe1ef;
    }

    .NotifLeftSide {
        width: 16%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .NotifRightSide {
        margin-left: 2%;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 70%;
    }

    #MarkNotifAsRead {
        color: #909090;
        font-weight: 600;
        font-size: 0.8rem;
    }

    #MarkNotifAsRead:hover {
        text-decoration: underline;
        cursor: pointer;
        color: #4959A6;
    }

    .NotifTitle {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 2%;
        color: #434343;
        display: flex;
        justify-content: space-between;
    }

    .NotifCircle {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #4959A6;
        border-radius: 50%;
        display: flex;
    }

    .NotifTimeSide {
        margin-top: 1%;
    }

    .NotifTimeSide span {

        font-size: 0.8rem;
        color: #4959A6;
    }

    .NotifSubTitle {
        color: #909090;
        font-size: 0.8rem;
        width: 93%;
    }

    .Notifications img {
        width: 2.5rem;
        height: 2.5rem;
    }

    .NotifHeader {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .NotifHeader span {
        color: #434343;
        font-size: 0.9rem;
    }

    .NotifBottom {
        width: 100%;
        height: 90%;
    }

    .NotifOverlay {
        position: absolute;
        right: -30px;
        width: 25rem;
        height: 24rem;
        background-color: #fefefe;
        display: none;
        z-index: 3;
        box-shadow: 12px 10px 22px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 2rem;
    }

    .NotifDivRight:hover {
        background-color: #dfe1ef;
        cursor: pointer;
    }

    .NotifDivRight img {
        width: 1.3rem;
        height: 1.3rem;
    }

    .SearchDivRight2 {
        background-color: #f1f1f1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;

    }

    .SearchDivRight2:hover {
        background-color: #dfe1ef;
        cursor: pointer;
    }

    .SearchDivRight2 img {
        width: 1.3rem;
        height: 1.3rem;
    }

    .DateDiv {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 1%;
        justify-content: end;
    }

    .DateDiv span {
        color: #909090;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .CenterMainContBottom {
        height: 94%;
        width: 100%;

    }

    .DashboardTop {
        height: 30%;
        width: 100%;
    }

    .DashboardBottom {
        height: 70%;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .DSubjects {
        width: 100%;
        height: 5%;
        margin-bottom: 1%;
        margin-left: 1%;
    }

    .DSubjects h3 {
        color: #1b2a63;
    }

    .DSubjectsCont {
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        column-gap: 1%;
        row-gap: 2.5%;
    }

    .SubjectDiv {
        position: relative;
        width: 100%;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
    }

    .SubjectDiv:hover {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .TeacherProfDiv {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }

    .TeacherProfDiv img {
        width: 4.4rem;
        height: 4.4rem;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid white;
    }

    .ErrorImage {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .ErrorImage img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
        border: 3px solid white;
    }

    .ErrorImage span {
        font-size: 0.9rem;
        font-weight: 600;
        color: #4959A6;
    }

    .SubjectDivBottom {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .SubjectDivBottom span {
        margin-top: 10%;
        font-size: 0.9rem;
        color: #949494;
    }

    .SubjectDivHeader {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .SubjectDivHeader span {
        color: white;
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
    }

    .SubjectDivHeader.SubjectHeader_1 {
        background-image: url('images/22900047_6682306.jpg');
        object-fit: cover;
        background-size: cover;
    }

    .SubjectDivHeader.SubjectHeader_2 {
        background-image: url('images/pxfuel (2).jpg');
        object-fit: cover;
        background-size: cover;
    }

    .SubjectDivHeader.SubjectHeader_3 {
        background-image: url('images/pxfuel.jpg');
        object-fit: cover;
        background-size: cover;
    }

    .SubjectDivHeader.SubjectHeader_4 {
        background-image: url('images/22900047_6682306.jpg');
        object-fit: cover;
        background-size: cover;
    }

    .SubjectDivHeader.SubjectHeader_5 {
        background-image: url('images/pxfuel (2).jpg');
        object-fit: cover;
        background-size: cover;
    }

    .SubjectDivHeader.SubjectHeader_7 {
        background-image: url('images/30589997_7637040.jpg');
        object-fit: cover;
        background-size: cover;
    }

    .SubjectDivHeader.SubjectHeader_6 {
        background-image: url('images/pxfuel.jpg');
        object-fit: cover;
        background-size: cover;
    }


    .WelcomeDiv {
        margin-top: 2%;
        width: 100%;
        height: 13rem;
        border-radius: 25px;
        background-color: rgba(18, 28, 78, 0.139);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .WelcomeDivImage {
        object-fit: cover;
        width: 100%;
        height: 13rem;
        border-radius: 25px;
        margin-top: 2%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .WelcomeMessages {
        position: absolute;
        right: 0;
        display: flex;
        width: 100%;

    }

    .WelcomeMessages2 {
        position: absolute;
        top: 0;
        left: 22;
        z-index: 2;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
        padding-top: 4rem;
        text-align: left;
        width: 45%;
    }

    .WelcomeAvatar {
        display: flex;
        position: absolute;
        right: 4rem;
        top: -13px;
    }

    .WelcomeAvatar img {
        width: 15rem;
        height: 14rem;
    }

    .WelcomeMessage {
        color: #f1f1f1;
        font-weight: 600;
        font-size: 1.8rem;
    }

    .QuoteDiv {
        margin-top: 2%;
        line-height: 20px;
    }

    .Quote {
        font-size: 0.9rem;
        color: #f1f1f1;
    }


    /*-------------------------------RightMain-------------------------------*/
    .RightMain {
        width: 17%;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: auto;
    }

    .RightMainCont {
        background-color: white;
        width: 90%;
        height: 90%;
        border-radius: 30px;
        padding: 2rem;
        border: 1px solid #eff3f4;
    }

    .RightMainContHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2%;
        height: 4%;

    }

    .RightMainContHeader span {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        color: #4959A6;
    }

    .EditProfRight {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;
        margin-left: 7%;
    }

    .EditProfRight img {
        width: 1.3rem;
        height: 1.3rem;
    }

    .StudProfileDiv {
        display: flex;
        justify-content: center;
        margin-top: 20%;
        position: relative;
    }

    .StudProfBorder {
        position: relative;
    }

    .StudProfile {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        z-index: 1;
    }

    .StudProfileBorder {
        right: -1.6rem;
        bottom: -1.4rem;
        position: absolute;
        width: 8.2rem;
        height: 8.2rem;
        z-index: 0;
    }

    .StudNameDiv {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30%;
    }

    .StudFullName {
        font-weight: 600;
        text-align: center;
    }

    .StudFullName span {
        color: #434343;
    }

    .StudFullTitle {
        margin-top: 1%;
        text-align: center;
        color: #a3a3a3;
        font-weight: 500;
        font-size: 0.9rem;
    }

    .Seperator {
        margin-top: 5%;
        border: 1px solid #e3e3e3;
    }

    .PaymentMain::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .PaymentTitle {
        color: #4959A6;
        margin-bottom: 2%;
    }

    .PaymentMain::-webkit-scrollbar-thumb {
        background-color: #c8cce7;
        border-radius: 20px;
    }

    .PaymentContHeader {
        padding: 2rem;
    }

    #PaymentHeader h3 {
        color: #4959A6;
        margin-bottom: 1%;
    }

    .PCPaymentMethodCont {
        height: 13%;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .PCPaymentMethodLeft {
        color: #4959A6;
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 1%;
    }

    .PCPaymentInputs {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }

    .SubmitPaymentDiv {
        display: flex;
        justify-content: center;
        width: 95%;
        margin-top: 2%;

    }

    #SubmitPayment {
        border-radius: 10px;
        padding: 0.7rem 4rem;
        background-color: #4959A6;
        border: none;
        color: white;
    }

    #SubmitPayment:hover {
        cursor: pointer;
        background-color: #334292;
    }

    .PCPaymentInputs div {
        display: flex;
        flex-direction: column;
    }

    .PCPaymentInputs div input {
        width: 30rem;
        border-radius: 10px;
        border: 1px solid #8f9ad3;
        padding: 0.6rem;
        margin-bottom: 3%;
    }

    .PCPaymentInputs label {
        color: #4959A6;
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 1%;
    }

    .PCPaymentMethodRight {
        width: 100%;
        height: 10%;
    }

    #MethodImages img {
        width: 9rem;
        height: 2.8rem;
        object-fit: cover;
        border-radius: 10px;
    }

    .QRCodeDiv {
        height: 23%;
        width: 100%;
        margin-bottom: 5%;
        display: flex;

    }

    .QRRightSide {
        width: 72%;
        height: 100%;
        margin-left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ScanMe {
        display: flex;
        width: 100%;
        height: 20%;
        margin-bottom: 2%;
        gap: 1%;
    }

    .BankAcc {
        color: #909090;
        font-size: 0.9rem;
    }

    .BankAccNum {
        color: #909090;
        font-size: 0.9rem;
    }

    .BankInfo {
        padding: 1.5rem;
        height: 35%;
        width: 60%;
        box-shadow: 0px 10px 13px -6px rgb(202, 214, 226);
        display: flex;
        flex-direction: column;
    }

    .BankInfo h3 {
        color: #4959A6;
        margin-bottom: 2%;
    }

    .QRLeftSide {
        justify-content: flex-start;
        width: 17%;
        height: 100%;
        box-shadow: 0px 10px 13px -6px rgb(120, 139, 159);
    }

    .QRLeftSide img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    #ProgressNote {
        color: #4959A6;
        font-size: 0.9rem;
        font-weight: 600;
    }

    .barDetails {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1%;
    }

    .barDetails span {
        color: #909090;
        font-weight: 600;
        font-size: 1rem;
    }

    .progress-container {
        min-height: 1.3rem;
        border-radius: 10px;
        width: calc(100%);
        background-color: #eceef7;

    }

    .custom-focus {
        border: 1px solid red;
        outline: 1px solid red;
    }

    #fadeBox {
        position: fixed;
        bottom: 0;
        right: 0;
        background-color: #4959A6;
        color: #fff;
        padding: 1.6rem 1.8rem;
        display: flex;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        border-radius: 10px;
        width: 18rem;
        text-align: center;
        margin-bottom: 1%;
        margin-right: 1%;
        font-size: 0.9rem;
        font-weight: 600;
        justify-content: center;
        align-items: center;
    }

    #fadeBox img {
        width: 2rem;
        height: 2rem;
        margin-right: 5%;
    }

    #overlayReceipt {
        width: 100vw;
        height: 100vh;
        background-color: #24262aa7;
        z-index: 4;
        position: absolute;
        display: none;
    }

    #ReceiptCont {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 50%;
        display: flex;
        margin: auto;
        width: 25%;
        height: 53%;
        background-color: white;
        border-radius: 10px;
        padding: 1rem;
    }

    #overlayReceipt2 {
        width: 100vw;
        height: 100vh;
        background-color: #24262aa7;
        z-index: 4;
        position: absolute;
        display: none;
    }

    #ReceiptCont2 {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 50%;
        display: flex;
        margin: auto;
        width: 25%;
        height: 53%;
        background-color: white;
        border-radius: 10px;
        padding: 1rem;
    }

    .ReceiptBox {
        width: 100%;
        height: 100%;
    }

    .ReceiptTitle {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ReceiptTitle span {
        font-size: 0.8rem;
        color: #434343;
    }

    .ReceiptTitle h3 {
        color: #4959A6;
    }

    .LogoReceipt {
        margin-right: 4%;
    }

    .LogoReceipt img {
        width: 4rem;
        height: 4rem;
    }

    .ReceiptHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #a3a3a3;
        height: 20%;
        width: 85%;
        margin: auto;
    }

    .ReceiptMainCont {
        height: 40%;
        width: 100%;
    }

    .ReceiptSignature {
        height: 20%;
        width: 100%;
    }

    .RSCont {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }

    .CashierName {
        display: flex;
        justify-content: center;
        width: 50%;
        border-bottom: 1px solid #a3a3a3;
        padding: 0.4rem;
    }

    .CashierLabel {
        display: flex;
        justify-content: center;
        width: 50%;
        margin-top: 1%;
        font-weight: 600;
    }

    .ReceiptFooter {
        height: 10%;
        width: 100%;
        background-color: #4959A6;
    }

    #ReceiptDetails {
        padding: 2rem;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    #ReceiptDetails label {
        width: 100%;
        color: #434343;
    }

    #ReceiptDetails div {
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    #ReceiptDetails span {
        width: 100%;
        color: #434343;
        font-weight: 600;
    }

    #ReceiptDetails2 {
        padding: 2rem;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    #ReceiptDetails2 label {
        width: 100%;
        color: #434343;
    }

    #ReceiptDetails2 div {
        height: 20%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }

    #ReceiptDetails2 span {
        width: 100%;
        color: #434343;
        font-weight: 600;
    }

    .ReceiptFooter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .RFDesign {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 0.8rem;
        color: white;
    }

    .ReceiptButtons {
        width: 100%;
        height: 10%;
    }

    .RBContButtons {
        margin-top: 2%;
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 1%;
    }

    .DownloadReceipt {
        padding: 0.5rem 1.5rem;
        background-color: #4959A6;
        font-size: 0.7rem;
        font-weight: 600;
        color: white;
        border: none;
    }

    .DownloadReceipt:hover {
        background-color: #253580;
        cursor: pointer;
        color: white;
    }

    #CloseReceipt {
        padding: 0.5rem 1.5rem;
        border: 1px solid #4959A6;
        background-color: white;
        font-size: 0.7rem;
        font-weight: 600;
        color: #4959A6;
    }

    #CloseReceipt:hover {
        background-color: #4959A6;
        cursor: pointer;
        color: white;
    }

    #CloseReceipt2 {
        padding: 0.5rem 1.5rem;
        border: 1px solid #4959A6;
        background-color: white;
        font-size: 0.7rem;
        font-weight: 600;
        color: #4959A6;
    }

    #CloseReceipt2:hover {
        background-color: #4959A6;
        cursor: pointer;
        color: white;
    }

    .PaymentDivBal {
        width: 80%;
        height: 60%;
        box-shadow: 0px 10px 13px -6px rgb(202, 214, 226);
        padding: 1rem;
    }

    .BalTop {
        height: 80%;
        width: 100%;
        font-size: 1.6rem;
        color: #4959A6;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .BalBottom {
        height: 20%;
        width: 100%;
        color: #909090;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PaymentTop {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .PaymentBelow {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        gap: 1%;
    }

    .PaymentBelow span {
        font-weight: 600;
        font-size: 0.9rem;
        width: 50%;
        padding: 0.6rem 1rem;
        color: #4959A6;
        text-align: center;
        border: 1px solid #4959A6;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #ViewAssessment:hover {
        background-color: #4959A6;
        color: white;
        cursor: pointer;
    }

    #ViewAssessment {
        font-weight: 600;
        font-size: 0.9rem;
        width: 50%;
        padding: 0.6rem 1rem;
        color: #4959A6;
        text-align: center;
        border: 1px solid #4959A6;
        border-radius: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ViewAssessment:hover {
        background-color: #4959A6;
        color: white;
        cursor: pointer;
    }

    #pleaseWaitCont {
        width: 100vw;
        height: 100vh;
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: white;
        z-index: 10;
    }

    .PleaseWait {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 130px;
    }

    #loaderContainer {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: white;
        z-index: 10;
    }

    #loader {
        position: fixed;
        border: 7px solid white;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        animation: spin 2s linear infinite;
        z-index: 10;
        border-top: 11px solid #4959A6;
        border-bottom: 11px solid #4959A6;
        margin-top: -5%;
    }

    #loader2 {
        position: fixed;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        animation: spin2 2s linear infinite;
        z-index: 10;
        border-top: 11px solid #4959A6;
        border-bottom: 11px solid #4959A6;
        margin-top: -5%;
    }

    .loaderSecCont {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 130px;
    }

    .loaderAnotherGroup {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-top: auto;
    }

    #loaderdescription {
        margin-top: -4%;
        position: fixed;
        color: #010101;
        font-weight: 600;
    }

    #loaderContainer {
        transition: opacity 0.5s ease;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes spin2 {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }

    .GAHeader {
        width: 100%;
        height: 16%;
    }

    .GAMainCont {
        width: 97%;
        height: 92%;
        padding: 1rem;
        margin: auto;
        border: 1px solid #e3e3e3;
        box-shadow: 0px 10px 13px -6px rgb(198, 210, 224);
        border-radius: 12px;
        overflow: auto;
    }

    .GAMainCont:hover {
        box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1), -2px -2px 15px 2px rgba(0, 0, 0, 0.1);
    }

    .GAMainCont::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .GAMainCont::-webkit-scrollbar-thumb {
        background-color: #c8cce7;
        border-radius: 20px;
    }

    .GAContent {
        height: 60%;
        width: 100%;
    }

    .GAContentHeader label {
        font-weight: 600;
        font-size: 0.9rem;
        color: #434343;
    }

    .GAContentHeader span {
        font-size: 0.9rem;
    }


    .GAContentHeader1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.6rem;
        height: 6%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .GAContentHeader1 h3 {
        color: #4959A6;
        font-size: 1.2rem;
    }

    .GAContentHeader {
        width: 70%;
        height: 15%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .GAContentHeaderLeft {
        padding-left: 5rem;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .GAContentHeaderLeft div {
        padding: 0.1rem;
    }

    .GAContentHeaderRight div {
        padding: 0.1rem;
    }

    .GAContentHeaderRight {
        padding-left: 10rem;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: right;
        flex-direction: column;
    }

    .GAContentBottom {
        height: 85%;
        width: 100%;
    }

    .GAContentBottomHeder {
        height: 7%;
        width: 95%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: auto;
        margin-bottom: 2%;
    }

    #GAContentBottomMain {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 96%;
        height: 93%;
    }

    .SchoolYearGrade select {
        padding: 0.5rem 1.8rem;
        background-color: white;
        border: 1px solid #c8cce7;
        border-radius: 5px;
    }

    .ReceiptTitle2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .ReceiptTitle2 span {
        font-size: 0.8rem;
        color: #434343;
    }

    .ReceiptTitle2 h3 {
        color: #4959A6;
        font-size: 1.2rem;
    }

    .LogoReceipt2 {
        margin-right: 4%;
    }

    .LogoReceipt2 img {
        width: 4rem;
        height: 4rem;
    }

    .ReceiptHeader2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 89%;
        width: 95%;
        margin: auto;
        padding: 1rem;
    }

    .BGOvarlay {
        background-color: #253580;
        width: 100%;
        height: 100%;
    }


    .ChristmasOverlayDiv {
        position: absolute;
    }

    .Sectable th:nth-child(1) {
        width: 140%;
    }

    .trFirstSec td:nth-child(1) {
        width: 140%;
    }

    .Sectable td:nth-child(1) {
        width: 140%;
    }

    .Sectable th:nth-child(2) {
        width: 85%;
    }

    .trFirstSec td:nth-child(2) {
        width: 85%;
    }

    .Sectable td:nth-child(2) {
        width: 85%;
    }

    .Sectable th:nth-child(3) {
        width: 40%;
    }

    .trFirstSec td:nth-child(3) {
        width: 40%;
    }

    .Sectable td:nth-child(3) {
        width: 40%;
    }

    .Sectable th:nth-child(4) {
        width: 40%;
    }

    .trFirstSec td:nth-child(4) {
        width: 40%;
    }

    .Sectable td:nth-child(4) {
        width: 40%;
    }

    .Sectable th:nth-child(5) {
        width: 40%;
    }

    .trFirstSec td:nth-child(5) {
        width: 40%;
    }

    .Sectable td:nth-child(5) {
        width: 40%;
    }

    .Sectable th:nth-child(6) {
        width: 40%;
    }

    .trFirstSec td:nth-child(6) {
        width: 40%;
    }

    .Sectable td:nth-child(6) {
        width: 40%;
    }

    .Sectable th:nth-child(7) {
        width: 40%;
    }

    .trFirstSec td:nth-child(7) {
        width: 40%;
    }

    .Sectable td:nth-child(7) {
        width: 40%;
    }

    .trFirstSec {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .Sectable {
        border-collapse: collapse;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .Sectable tr {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56.5vw;
        font-size: 0.9rem;
    }

    .Sectable th {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        text-align: center;
        font-weight: 600;
        color: black;
        padding: 0.7rem;
        border-top: 1px solid #eaebf6;
        border-left: 1px solid #eaebf6;
        border-right: 1px solid #eaebf6;
        border-bottom: 1px solid #a3a3a3;
        width: 100%;
    }

    .Sectable td:nth-child(1):not(.GenAverage) {
        width: 140%;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0.7rem;
        font-size: 0.8rem;
        border: 1px solid #e3e3e3;
    }

    .Sectable td:nth-child(3) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: max-content;
        border: 1px solid #e3e3e3;
        font-size: 0.8rem;
    }


    .Sectable td {
        font-size: 0.8rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem;
        border: 1px solid #e3e3e3;
    }


    .Sectable tr:not(.trFirstSec):nth-child(odd) {
        align-items: center;
    }

    .Sectable tr:nth-child(even) {
        background-color: white;
        align-items: center;
    }

    .Sectable td button {
        margin-right: 3%;
        padding: 0.4rem 0.7rem;
    }

    .Sectable img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: cover;
    }

    .GenAverage {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .ProfileMainCont {
        width: 97%;
        height: 92%;
        padding: 1rem;
        margin: auto;
        border: 1px solid #e3e3e3;
        box-shadow: 0px 10px 13px -6px rgb(198, 210, 224);
        border-radius: 12px;
    }

    .ProfHeader {
        width: 100%;
        height: 27%;

    }

    .ProfHeaderTop {
        width: 100%;
        height: 30%;

    }

    .ProfHeaderTop img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .ProfHeaderBottom {
        display: flex;
        width: 100%;
        height: 70%;

    }

    .PHLeft {
        width: 12%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PHMid {
        width: 30%;
        height: 100%;
    }

    .PHMidTop {
        height: 50%;
        width: 100%;
    }

    .PHMidTop {
        display: flex;
        justify-content: flex-start;
        align-items: end;
    }

    .PHMidTop span {
        color: #010101;
        font-weight: 600;
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
    }

    .PHMidBottom {
        height: 50%;
        width: 100%;
    }

    .PHMidBottom span {
        color: #bcbcbe;
        font-weight: 500;
    }

    .PHRight {
        width: 58%;
        height: 100%;
        display: flex;
        justify-content: end;
    }

    .PHRight1 {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2%;
    }

    #ProfileClose {
        background-color: white;
        border: 1px solid #4959A6;
        border-radius: 10px;
        color: #4959A6;
        font-weight: 600;
        padding: 0.6rem 1.8rem;
    }

    #ProfileClose:hover {
        background-color: #4959A6;
        cursor: pointer;
        color: white;
    }

    #ChangeProf {
        background-color: white;
        border: 1px solid #4959A6;
        border-radius: 10px;
        color: #4959A6;
        font-weight: 600;
        padding: 0.6rem 1.4rem;
    }

    #EditProfSave {
        width: 100%;
        display: none;
        justify-content: end;
        gap: 1%;
    }

    #ProfileSave {
        background-color: #4959A6;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        border: none;
        padding: 0.6rem 2.5rem;
    }


    #ProfileSave:hover {
        background-color: #20307c;
        cursor: pointer;
    }

    #EditProf {
        background-color: #4959A6;
        border-radius: 10px;
        color: white;
        font-weight: 600;
        border: none;
        padding: 0.6rem 2.5rem;
    }

    #ChangeProf:hover {
        background-color: #4959A6;
        cursor: pointer;
        color: white;
    }

    #EditProf:hover {
        background-color: #5d6ec6;
        cursor: pointer;
    }

    .ProfContentMain {
        width: 95%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .ProfContentMain2 {
        width: 100%;
        height: 100%;
        margin-bottom: 2%;
    }


    .ProfContentMain3 .ProfContentHeader {
        margin-bottom: 1%;
    }

    .ProfContentMain3 {
        width: 100%;
        height: 25%;
        margin-bottom: 3%;
    }

    .ProfContentMain4 {
        width: 100%;
        height: 40%;
        margin-bottom: 5%;
    }

    .ProfContentMain4 .ProfContentHeader {
        margin-bottom: 1%;
    }

    .ProfContentMain5 .ProfContentHeader {
        margin-bottom: 1%;
    }

    .ProfContentMain5 {
        width: 100%;
        height: 25%;
        margin-bottom: 3%;
    }

    .ProfContentMain::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .ProfContentMain::-webkit-scrollbar-thumb {
        background-color: #c8cce7;
        border-radius: 20px;
    }

    .ProfContent {
        width: 100%;
        height: 32rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ProfContentHeader {
        display: flex;
        width: 100%;
        height: 5%;
    }


    .ProfContentInputs {
        padding-left: 1rem;
        width: 95%;
        height: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2%;
    }

    .PCInput {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 4rem;
        margin-bottom: 2%;
    }

    .PCInput label {
        height: 10%;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        font-size: 0.9rem;
    }

    .PCInput input {
        height: 70%;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        padding-left: 1.5rem;
        border-radius: 5px;
        background-color: #f3f3f3;
        border: none;
        color: #484848;
    }

    .PHMidBottom2 span {
        font-size: 0.9rem;
        color: #8d8d8d;
    }

    .PHMidBottom1 span {
        font-size: 0.9rem;
        color: #8d8d8d;
    }

    .ClassmatesMainCont {
        width: 97%;
        height: 92%;
        padding: 1rem;
        margin: auto;
        border: 1px solid #e3e3e3;
        box-shadow: 0px 10px 13px -6px rgb(198, 210, 224);
        border-radius: 12px;

    }

    .ClassmatesMainCont::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .ClassmatesMainCont::-webkit-scrollbar-thumb {
        background-color: #c8cce7;
        border-radius: 20px;
    }

    .CMInput {
        width: 99%;
        height: 6rem;
        display: flex;
        border-radius: 10px;
        border: 1px solid #e3e3e3;
    }

    .CMInput:hover {
        box-shadow: 0px 10px 13px -6px rgb(198, 210, 224);
        cursor: pointer;
    }

    .CMInputLeft {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CMInputRight {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%;
    }

    .CMInputRightTop {
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: flex-start;
        align-items: end;
    }

    .CMInputRightTop span {
        color: #010101;
        font-weight: 600;
        font-size: 1.2rem;
        padding-bottom: 0.3rem;
    }

    .CMInputRightBottom {
        width: 100%;
        height: 45%;
    }

    .CMInputRightBottom span {
        color: #949494;
        font-size: 0.9rem;
        padding-bottom: 0.3rem;
    }

    .ClassmateProfile {
        width: 3.8rem;
        height: 3.8rem;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        z-index: 1;
    }

    .ClassMContHeader {
        width: 97%;
        height: 5%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .ClassMContHeader h4 {
        font-size: 1.3rem;
        color: #4959A6;
    }

    .ClassmatesMainCont {
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 92%;
    }

    .ClassMCont {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 5.8rem;
        grid-gap: 2.5% 1%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .ClassMCont::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .ClassMCont::-webkit-scrollbar-thumb {
        background-color: #c8cce7;
        border-radius: 20px;
    }

    .SAMainCont {
        width: 97%;
        height: 92%;
        padding: 1rem;
        margin: auto;
        border: 1px solid #e3e3e3;
        box-shadow: 0px 10px 13px -6px rgb(198, 210, 224);
        border-radius: 12px;
    }

    .SchedulesMContHeader {
        width: 100%;
        height: 5%;
        padding: 1rem;
    }

    .SchedulesMContHeader h4 {
        font-size: 1.3rem;
        color: #4959A6;
    }

    .ScheduleMCont {
        width: 100%;
        height: 87%;
        overflow-x: hidden;
        overflow-y: auto;

    }

    .ScheduleMCont::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .ScheduleMCont::-webkit-scrollbar-thumb {
        background-color: #c8cce7;
        border-radius: 20px;
    }

    .SchedDiv {
        width: 100%;
        height: 15%;
        display: flex;
        padding: 1rem;
        row-gap: 2%;
        border-radius: 10px;
        margin-bottom: 1%;
        border: 1px solid #e3e3e3;
    }

    .SchedDiv:hover {
        box-shadow: 0px 10px 13px -6px rgb(198, 210, 224);
        cursor: pointer;
    }

    .SchedLeft {
        height: 100%;
        width: 12%;
        border-radius: 10px;
        background-color: #f1f1f1;

    }

    .SchedLeftTop {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40%;
        align-items: center;
        justify-content: end;
        color: #0e1a4f;
        font-size: 1rem;
    }

    .SchedLeftBottom {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        color: #094067;
    }

    .SchedRightTop {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 35%;
        align-items: left;
        justify-content: end;
        font-size: 1rem;
        font-family: 'Noto Sans Bamum', sans-serif;
        color: #0e1a4f;
    }

    .SchedRightBottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 65%;
        width: 100%;
        font-family: 'Noto Sans Bamum', sans-serif;
        font-size: 1rem;
    }

    .SchedRight {
        width: 80%;
        height: 100%;
        padding-left: 1rem;
    }

    /*------------------Assessment Form ---------------------*/

    #overlayAssess {
        width: 100vw;
        height: 100vh;
        background-color: #24262aa7;
        z-index: 4;
        position: absolute;
        display: none;
    }

    #AssessCont {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 50%;
        display: flex;
        margin: auto;
        width: 65%;
        height: 75%;
        background-color: white;
        border-radius: 10px;
        padding: 1rem;
    }

    .AssessBox {
        margin: auto;
        width: 90%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        border: 1px solid #e3e3e3;
        box-shadow: 0px 10px 13px -6px rgb(198, 210, 224);
        border-radius: 10px;
    }


    .AssessBox::-webkit-scrollbar {
        width: 5px;
        height: 1px;
    }

    .AssessBox::-webkit-scrollbar-thumb {
        background-color: #c8cce7;
        border-radius: 20px;
    }

    .AssessBox h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        padding: 2rem;

    }

    .AssessMid {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 90%;
        height: 9%;
    }

    .AssessMid label {
        font-weight: 600;
        font-size: 0.9rem;
    }

    .AssessMid span {
        font-size: 0.9rem;
    }

    .AssessMidLeftP {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 100%;
    }

    .AssessMidRightP {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 35%;
        height: 100%;
    }

    .AssessTitle {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .AssessTitle span {
        font-size: 0.8rem;
        color: #434343;
    }

    .AssessTitle h3 {
        color: #4959A6;
    }

    .LogoAssess img {
        width: 4rem;
        height: 4rem;
    }

    .AssessHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
        width: 100%;
        margin: auto;
        gap: 2%;
        margin-top: 4%;
    }

    .AssessContent {
        width: 80%;
        height: 35%;
        padding: 1rem;
        margin: auto;
    }

    .AssessmentTable {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .AssessmentTable tr {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 0.9rem;
        margin: auto;
    }

    .AssessmentTable th {
        font-size: 0.9rem;
        text-align: center;
        font-weight: 600;
        color: black;
        width: 100%;
        padding: 0.7rem;
    }

    .AssessmentTable td {
        font-size: 0.8rem;
        width: 100%;

        text-align: center;
        padding: 0.4rem;
    }

    .AssessExtraDiv {
        width: 100%;
        height: 15%;
        padding: 1rem;
        margin: auto;

    }

    .AssessmentFees {
        width: 70%;
        height: 35%;
        padding: 1rem;
        margin: auto;
    }

    .AFDivHeader {
        width: 100%;
        height: 15%;
        margin-bottom: 2%;
    }

    .AFDivHeader span {
        font-size: 1rem;
        font-weight: 600;
    }

    .AFDivContent {
        display: flex;
        flex-direction: column;
        height: 85%;
        width: 100%;

    }

    .AFDivMain {
        display: flex;
        width: 45%;
        height: 100%;
        margin-bottom: 1%;
        font-size: 0.9rem;
    }

    .AFDivContentLeft {
        display: flex;
        width: 80%;
        height: 100%;
    }

    .AFDivContentRight {
        display: flex;
        width: 20%;
        height: 100%;
        justify-content: end;
    }

    .TotalAssessFees {
        display: flex;
        justify-content: space-between;
        height: 10%;
        width: 45%;
        margin-top: 1%;

    }

    .TAFLeft {
        font-size: 0.9rem;
        font-weight: 600;
        width: 70%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .TAFRight {
        font-size: 0.9rem;
        justify-content: end;
        align-items: center;
        display: flex;
        width: 30%;
        height: 100%;
        border-top: 1px solid black;
    }

    .AssessOptions {
        display: flex;
        justify-content: end;
        width: 100%;
        gap: 1%;
        margin-bottom: 3%;
    }

    .AssessOptions button {
        padding: 0.5rem 2.7rem;
        border-radius: 8px;
    }

    #AsessPrint {
        background-color: white;
        border: 1px solid #5d6ec6;
        font-weight: 600;
        color: #4959A6;
    }

    #AsessPrint:hover {
        background-color: #5d6ec6;
        color: white;
        cursor: pointer;
    }

    #AsessClose {
        background-color: #5d6ec6;
        color: white;
        font-weight: 600;
        border: none;
    }

    #AsessClose:hover {
        background-color: #2b3c8f;
        color: white;
        cursor: pointer;
    }

    #PFBirthday {
        height: 100%;
    }

    #ShowPaymentTable {
        display: flex;
        width: 100%;
        height: 100%;
    }

    #toggleGroupChat {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: none;
        border-radius: 10px;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: #4959A6;
        color: white;
        width: 10%;
    }


    #toggleGroupChat img {
        width: 1.4rem;
        height: 1.4rem;
    }

    #toggleGroupChat:hover {
        background-color: white;
        cursor: pointer;
        border: 1px solid #4959A6;
        color: #4959A6;
    }

    #GroupChatBox {
        position: fixed;
        bottom: 0;
        right: 2%;
        background-color: #f5f5f5;
        display: flex;
        width: 20%;
        height: 50%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        z-index: 6;
        border-radius: 5px;
    }

    .GCMainCont {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 1rem;
    }

    .GCHeader {
        height: 10%;
        display: flex;
        justify-content: space-between;
    }

    .GCHLeft {
        display: flex;
        width: 15%;
        height: 100%;

    }

    .GCHLeft img {
        width: 2.9rem;
        height: 2.8rem;
        object-fit: cover;
        border-radius: 50%;
        margin: auto;
    }

    .GCHMid {
        display: flex;
        width: 60%;
        height: 100%;
    }

    .GCHMid h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #334292;
    }

    .GCHRight {
        display: flex;
        width: 20%;
        height: 100%;

    }

    #GCContentBox {
        height: 73%;
        display: flex;
        justify-content: space-between;
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column-reverse;
        /*browser treats the bottom like its the top */
    }

    .GCMainContentDiv {
        display: flex;
        flex-direction: column;
    }



    .GCBottom {
        width: 100%;
        height: 10%;
        display: flex;
        margin-top: 1%;
    }

    .GCBLeft {
        width: 15%;
        display: flex;
    }

    .GCBMid {
        width: 70%;
        display: flex;
    }

    .GCBMid input {
        width: 100%;
        height: 5%;
        border-radius: 10px;
        border: none;
        margin: auto;
        background-color: #daddf3;
        padding: 1rem;
    }

    .GCBRight {
        width: 15%;
        display: flex;
    }

    #GCHRightDiv {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #GCHRightDiv img {
        width: 1rem;
        height: 1rem;
        object-fit: cover;

    }

    #GCHRightDiv:hover {
        background-color: #e8eaf3;
        border-radius: 50%;
        cursor: pointer;
    }

    #GCHRightDiv2 {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #GCHRightDiv2 img {
        width: 1rem;
        height: 1rem;
        object-fit: cover;

    }

    #GCHRightDiv2:hover {
        background-color: #e8eaf3;
        border-radius: 50%;
        cursor: pointer;
    }

    .GCBRightDiv {
        width: 70%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .GCBRightDiv img {
        width: 1.8rem;
        height: 1.8rem;
        object-fit: cover;
    }

    .GCBRightDiv:hover {
        background-color: #d7daea;
        border-radius: 50%;
        cursor: pointer;
    }

    .MessageOuterDiv {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2%;
        width: 100%;
    }

    .MessageOuterDiv2 {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2%;
        width: 100%;
    }

    .MessageHeader {
        font-size: 0.8rem;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        max-width: 40%;
        /*border: 1px solid black; */
    }

    .MessageTime {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        height: 100%;
        font-size: 0.7rem;
        font-weight: 600;
        color: #949494;
    }

    .MessageTime2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        height: 100%;
        font-size: 0.7rem;
        font-weight: 600;
        color: #949494;
    }

    .UserChatProfile {
        height: 100%;
        display: flex;
        align-items: end;
    }

    .UserChatProfile img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 50%;
    }

    #ChatStudName {
        margin-bottom: 1%;
        margin-left: 5%;

    }

    .GCMainContentDiv2 {
        background-color: #334292;
        color: white;
        padding: 0.6rem 1rem;
        border-radius: 25px;
        word-break: break-all;
        /* it automatically adjusts the divs size base on the text length */
        margin-bottom: 1%;
    }

    .GCMainContentDiv2 span {
        font-size: 0.9rem;

    }

    .GCMainContentDiv3 {
        background-color: #131732;
        color: white;
        padding: 0.6rem 1rem;
        border-radius: 25px;
        text-align: left;
        margin-bottom: 1%;
        word-break: break-all;
        width: auto;
        /* it automatically adjusts the divs size base on the text length */
    }

    .GCMainContentDiv3 span {
        font-size: 0.9rem;
    }

    .RightChat {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .UserChatProfile img::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #f5f5f5;
    }

}